@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	font-family: Open Sans, sans-serif !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.tondo {
	padding: 10px;
	border-radius: 40px;
}

.carta {
	padding: 10px;
	border-radius: 40px;

	padding: 10px !important;
	box-shadow: 5px 10px black !important;
}
.font {
	font-family: Open Sans, sans-seri !important;
}

.font2 {
	font-family: Poppins, cursive !important;
	font-size: 19px;
}
.text-new {
	color: black !important;
	font-family: Ubuntu, sans-serif !important;
}

.text-span-new {
	color: b !important;
}

.elemento1 {
	background-color: #2650ff !important;
}

.elemento2 {
	background-color: #f2a700 !important;
}

.elemento3 {
	background-color: #9924ff !important;
}

.elemento4 {
	background-color: #07bb9c !important;
}

.sfumatura {
	box-shadow: 0 8px 6px -6px black;
}

.scritta {
	font-family: Open Sans, sans-serif !important;
	font-size: 25px;
}

.buttonElement {
	color: black;
	border: 2px solid white;
}

a {
	text-decoration: none !important;
	color: white !important;
}

.a {
	text-decoration: none !important;
	color: gray !important;
}

@media (min-width: 576px) {
	#video {
		margin-left: 100px !important;
		padding: 0px !important;
	}
}

.effect:hover {
	box-shadow: 0px 0px 46px -8px rgba(0, 0, 0, 0.75) !important;
	transform: scale(0.9) !important;
	height: 100% !important;
	transition: all 1s ease;
}

.effect2:hover {
	box-shadow: 0px 0px 46px -8px rgba(0, 0, 0, 0.75) !important;
	transform: scale(1.2) !important;
	height: 100% !important;
	transition: all 1s ease;
}
.button-visita {
	background-color: black !important;
	color: white !important;
}

.searchB {
	border-radius: 0.7rem;
}
